
.svgSprite {
    background-image: url(../../img/Mana.svg);
    background-repeat: no-repeat;
    background-size: 1000%;
    display: inline-block;
}

@mixin mana-icon-mixin($xoffset, $yoffset, $size) {
	@extend .svgSprite;
	height: $size + px;
	width: $size + px;
	background-position: (-1*$xoffset*$size) + px (-1*$yoffset*$size) + px;
}

.mana-0-icon 	{ @include mana-icon-mixin(0,0,30); }
.mana-1-icon 	{ @include mana-icon-mixin(1,0,30); }
.mana-2-icon 	{ @include mana-icon-mixin(2,0,30); }
.mana-3-icon 	{ @include mana-icon-mixin(3,0,30); }
.mana-4-icon 	{ @include mana-icon-mixin(4,0,30); }
.mana-5-icon 	{ @include mana-icon-mixin(5,0,30); }
.mana-6-icon 	{ @include mana-icon-mixin(6,0,30); }
.mana-7-icon 	{ @include mana-icon-mixin(7,0,30); }
.mana-8-icon 	{ @include mana-icon-mixin(8,0,30); }
.mana-9-icon 	{ @include mana-icon-mixin(9,0,30); }
.mana-10-icon 	{ @include mana-icon-mixin(0,1,30); }
.mana-11-icon 	{ @include mana-icon-mixin(1,1,30); }
.mana-12-icon 	{ @include mana-icon-mixin(2,1,30); }
.mana-13-icon 	{ @include mana-icon-mixin(3,1,30); }
.mana-14-icon 	{ @include mana-icon-mixin(4,1,30); }
.mana-15-icon 	{ @include mana-icon-mixin(5,1,30); }
.mana-16-icon 	{ @include mana-icon-mixin(6,1,30); }
.mana-17-icon 	{ @include mana-icon-mixin(7,1,30); }
.mana-18-icon 	{ @include mana-icon-mixin(8,1,30); }
.mana-19-icon 	{ @include mana-icon-mixin(9,1,30); }
.mana-20-icon 	{ @include mana-icon-mixin(0,2,30); }
.mana-X-icon 	{ @include mana-icon-mixin(1,2,30); }
.mana-Y-icon 	{ @include mana-icon-mixin(2,2,30); }
.mana-Z-icon 	{ @include mana-icon-mixin(3,2,30); }
.mana-W-icon 	{ @include mana-icon-mixin(4,2,30); }
.mana-U-icon 	{ @include mana-icon-mixin(5,2,30); }
.mana-B-icon 	{ @include mana-icon-mixin(6,2,30); }
.mana-R-icon 	{ @include mana-icon-mixin(7,2,30); }
.mana-G-icon 	{ @include mana-icon-mixin(8,2,30); }
.mana-S-icon 	{ @include mana-icon-mixin(9,2,30); }
.mana-WU-icon 	{ @include mana-icon-mixin(0,3,30); }
.mana-WB-icon 	{ @include mana-icon-mixin(1,3,30); }
.mana-UB-icon 	{ @include mana-icon-mixin(2,3,30); }
.mana-UR-icon 	{ @include mana-icon-mixin(3,3,30); }
.mana-BR-icon 	{ @include mana-icon-mixin(4,3,30); }
.mana-BG-icon 	{ @include mana-icon-mixin(5,3,30); }
.mana-RW-icon 	{ @include mana-icon-mixin(6,3,30); }
.mana-RG-icon 	{ @include mana-icon-mixin(7,3,30); }
.mana-GW-icon 	{ @include mana-icon-mixin(8,3,30); }
.mana-GU-icon 	{ @include mana-icon-mixin(9,3,30); }
.mana-2W-icon 	{ @include mana-icon-mixin(0,4,30); }
.mana-2U-icon 	{ @include mana-icon-mixin(1,4,30); }
.mana-2B-icon 	{ @include mana-icon-mixin(2,4,30); }
.mana-2R-icon 	{ @include mana-icon-mixin(3,4,30); }
.mana-2G-icon 	{ @include mana-icon-mixin(4,4,30); }
.mana-PW-icon 	{ @include mana-icon-mixin(5,4,30); }
.mana-PU-icon 	{ @include mana-icon-mixin(6,4,30); }
.mana-PB-icon 	{ @include mana-icon-mixin(7,4,30); }
.mana-PR-icon 	{ @include mana-icon-mixin(8,4,30); }
.mana-PG-icon 	{ @include mana-icon-mixin(9,4,30); }
.mana-T-icon 	{ @include mana-icon-mixin(0,4,30); }
.mana-Q-icon 	{ @include mana-icon-mixin(1,4,30); }
.mana-I-icon 	{ @include mana-icon-mixin(2,4,30); }

.mana-0-icon-xs		{ @include mana-icon-mixin(0,0,15); }
.mana-1-icon-xs		{ @include mana-icon-mixin(1,0,15); }
.mana-2-icon-xs		{ @include mana-icon-mixin(2,0,15); }
.mana-3-icon-xs		{ @include mana-icon-mixin(3,0,15); }
.mana-4-icon-xs		{ @include mana-icon-mixin(4,0,15); }
.mana-5-icon-xs		{ @include mana-icon-mixin(5,0,15); }
.mana-6-icon-xs		{ @include mana-icon-mixin(6,0,15); }
.mana-7-icon-xs		{ @include mana-icon-mixin(7,0,15); }
.mana-8-icon-xs		{ @include mana-icon-mixin(8,0,15); }
.mana-9-icon-xs		{ @include mana-icon-mixin(9,0,15); }
.mana-10-icon-xs	{ @include mana-icon-mixin(0,1,15); }
.mana-11-icon-xs	{ @include mana-icon-mixin(1,1,15); }
.mana-12-icon-xs	{ @include mana-icon-mixin(2,1,15); }
.mana-13-icon-xs	{ @include mana-icon-mixin(3,1,15); }
.mana-14-icon-xs	{ @include mana-icon-mixin(4,1,15); }
.mana-15-icon-xs	{ @include mana-icon-mixin(5,1,15); }
.mana-16-icon-xs	{ @include mana-icon-mixin(6,1,15); }
.mana-17-icon-xs	{ @include mana-icon-mixin(7,1,15); }
.mana-18-icon-xs	{ @include mana-icon-mixin(8,1,15); }
.mana-19-icon-xs	{ @include mana-icon-mixin(9,1,15); }
.mana-20-icon-xs	{ @include mana-icon-mixin(0,2,15); }
.mana-X-icon-xs		{ @include mana-icon-mixin(1,2,15); }
.mana-Y-icon-xs		{ @include mana-icon-mixin(2,2,15); }
.mana-Z-icon-xs		{ @include mana-icon-mixin(3,2,15); }
.mana-W-icon-xs		{ @include mana-icon-mixin(4,2,15); }
.mana-U-icon-xs		{ @include mana-icon-mixin(5,2,15); }
.mana-B-icon-xs		{ @include mana-icon-mixin(6,2,15); }
.mana-R-icon-xs		{ @include mana-icon-mixin(7,2,15); }
.mana-G-icon-xs		{ @include mana-icon-mixin(8,2,15); }
.mana-S-icon-xs		{ @include mana-icon-mixin(9,2,15); }
.mana-WU-icon-xs	{ @include mana-icon-mixin(0,3,15); }
.mana-WB-icon-xs	{ @include mana-icon-mixin(1,3,15); }
.mana-UB-icon-xs	{ @include mana-icon-mixin(2,3,15); }
.mana-UR-icon-xs	{ @include mana-icon-mixin(3,3,15); }
.mana-BR-icon-xs	{ @include mana-icon-mixin(4,3,15); }
.mana-BG-icon-xs	{ @include mana-icon-mixin(5,3,15); }
.mana-RW-icon-xs	{ @include mana-icon-mixin(6,3,15); }
.mana-RG-icon-xs	{ @include mana-icon-mixin(7,3,15); }
.mana-GW-icon-xs	{ @include mana-icon-mixin(8,3,15); }
.mana-GU-icon-xs	{ @include mana-icon-mixin(9,3,15); }
.mana-2W-icon-xs	{ @include mana-icon-mixin(0,4,15); }
.mana-2U-icon-xs	{ @include mana-icon-mixin(1,4,15); }
.mana-2B-icon-xs	{ @include mana-icon-mixin(2,4,15); }
.mana-2R-icon-xs	{ @include mana-icon-mixin(3,4,15); }
.mana-2G-icon-xs	{ @include mana-icon-mixin(4,4,15); }
.mana-PW-icon-xs	{ @include mana-icon-mixin(5,4,15); }
.mana-PU-icon-xs	{ @include mana-icon-mixin(6,4,15); }
.mana-PB-icon-xs	{ @include mana-icon-mixin(7,4,15); }
.mana-PR-icon-xs	{ @include mana-icon-mixin(8,4,15); }
.mana-PG-icon-xs	{ @include mana-icon-mixin(9,4,15); }
.mana-T-icon-xs		{ @include mana-icon-mixin(0,4,15); }
.mana-Q-icon-xs		{ @include mana-icon-mixin(1,4,15); }
.mana-I-icon-xs		{ @include mana-icon-mixin(2,4,15); }
